 <li class="w-1/2 flex mt-5">
              <div class="about_check">
                <i class="lni lni-checkmark-circle">
                <FaIcon @icon="check" @prefix="fas" ></FaIcon>

                </i>
              </div>
              <div class="about_list_content pl-5 pr-2">
                <p>
                  {{yield}}
                </p>
              </div>
            </li>