<div class="navbar-area bg-white">
    <div class="container relative">
      <div class="row items-center">
        <div class="w-full">
          <nav
            class="flex items-center justify-between py-4 navbar navbar-expand-lg"
          >
            <LinkTo class="navbar-brand mr-5" @route="index">
              <img src="assets/images/logo.svg" alt="Logo" />

            </LinkTo>

            <ul class="items-center content-start mr-auto lg:justify-start navbar-nav lg:flex">
               <li class="nav-item ml-5 lg:ml-11">
                  <LinkToScroll aclass="page-scroll active" @route="index" @anchor="home">
                    Home
                  </LinkToScroll>
                </li>

                <li class="nav-item ml-5 lg:ml-11">
                  <LinkToScroll class="page-scroll" @route="index" @anchor="features">
                    Features
                  </LinkToScroll>
                </li>
                <li class="nav-item ml-5 lg:ml-11">
                  <LinkToScroll class="page-scroll" @route="index" @anchor="contact">
                    Contact
                  </LinkToScroll>
                </li>
            </ul>
            <button
              class="block navbar-toggler focus:outline-none lg:hidden"
              type="button"
              data-toggle="collapse"
              data-target="#navbarOne"
              aria-controls="navbarOne"
              aria-expanded="false"
              aria-label="Toggle navigation"
              {{on 'click' this.toggle}}
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="absolute left-0 z-20 {{if this.hidden 'hidden' ''}} w-full px-5 py-3 duration-300 bg-white lg:w-auto collapse navbar-collapse lg:block top-full mt-full lg:static lg:bg-transparent shadow lg:shadow-none"
              id="navbarOne"
            >
              <ul
                id="nav"
                class="items-center content-start mr-auto lg:justify-end navbar-nav lg:flex"
              >



                <li class="nav-item ml-5 lg:ml-11">
                  <LinkTo @route="demo">
                    Demo
                  </LinkTo>
                </li>

                 <li class="nav-item ml-5 lg:ml-11">
                  <LinkTo @route="documentation">
                    Documentation
                  </LinkTo>
                </li>

              </ul>
            </div>
            {{!-- navbar collapse --}}
          </nav>
          {{!-- navbar --}}
        </div>
      </div>
      {{!-- row --}}
    </div>
    {{!-- container --}}
  </div>







