{{page-title "Demo"}}




<section id="features" class="services_area pt-120 pb-120 max-w-3xl mx-auto " >
  <div class="container">
    <div class="row justify-center">
      <div class="w-full lg:w-1/2">
        <div class="section_title text-center pb-6">
          <h4 class="main_title">
            Comments
          </h4>
        </div>
      </div>
    </div>
    <div class="">
{{#if this.render}}

<Talik/>
{{/if}}

    </div>
  </div>
</section>
<div {{scroll-top}}></div>
