
   {{!-- <SubHeader/> --}}

<section class="header_area  " {{scroll-anchor}}>

  <div
    id="home"
    class="header_hero bg-gray relative z-10 overflow-hidden lg:flex items-center"
  >
    <div class="hero_shape shape_1">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>

    <div class="hero_shape shape_4">
      <img src="assets/images/shape/shape-4.svg" alt="shape" />
    </div>
    <div class="hero_shape shape_6">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>

    <div class="hero_shape shape_10">
      <img src="assets/images/shape/shape-4.svg" alt="shape" />
    </div>
    <div class="hero_shape shape_11">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>

    <div class="container">
      <div class="row">
        <div class="w-full lg:w-1/2">
          <div class="header_hero_content pt-150 lg:pt-0">
            <h2
              class="hero_title text-2xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-extrabold"
            >
              Comment integration on your platform made simple with
              <span class="text-theme-color">
                TALIK
              </span>
            </h2>
            <p class="mt-8 lg:mr-8">
              Easy and efficient way to integrate comments on your web page, and allow people to ask questions or give feedback.
            </p>
            <div class="hero_btn mt-10">
              <a class="main-btn" href="#contact">
                Getting started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_shape hidden lg:block"></div>
    <div class="header_image flex items-center">
      <div class="image 2xl:pl-25">
        <img src="assets/images/header-image.svg" alt="Header Image" class="max-w-3xl max-h-full"/>
      </div>
    </div>
  </div>
</section>



<section id="features" class="services_area pt-120 pb-120">
  <div class="container">
    <div class="row justify-center">
      <div class="w-full lg:w-1/2">
        <div class="section_title text-center pb-6">
          {{! <h5 class="sub_title">
          </h5> }}
          <h4 class="main_title">
            Features
          </h4>
        </div>
      </div>
    </div>
    <div class="row justify-center">

      <Feature @icon="puzzle-piece">
        <:title>
          Quick Integration
        </:title>
        <:description>
          Easy to integrate, it take only 5 minutes to make it ready for production.
        </:description>
      </Feature>
      <Feature @icon="table-cells-large">
        <:title>
          Support multi platforms
        </:title>
        <:description>
          Ghost, Wordpress, Joomla, Shopify ...
        </:description>
      </Feature>
      <Feature @icon="message">
        <:title>
          Display Featured Comments
        </:title>
        <:description>
          Get your best comments up the top of the comment feed.
        </:description>
      </Feature>
      <Feature @icon="language">
        <:title>
          Multi-Language
        </:title>
        <:description>
          Talik is available in multiple languages. you can enable to translating your comments automatically to a given language.
        </:description>
      </Feature>
      <Feature @icon="thumbs-up">
        <:title>
          Comment reactions
        </:title>
        <:description>
          Allow reaction and voting on comments, and encourage quality comments.
        </:description>
      </Feature>
      <Feature @icon="microchip">
        <:title>
          Powered by AI
        </:title>
        <:description>
          We use Artificial inteligence to detect spams and recognise sentiments from the comments
        </:description>
      </Feature>
      <Feature @icon="bell">
        <:title>
          Notifications
        </:title>
        <:description>
          Get notified when a comment is added and you will never miss anything from your audience.
        </:description>
      </Feature>
       <Feature @icon="palette">
        <:title>
          Custom theme
        </:title>
        <:description>
           You can custumize the look of the comments section to fit your website design.
        </:description>
      </Feature>
    </div>
  </div>
</section>
<Contact />


