<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====== PRELOADER PART ENDS ======-->
<!--====== HEADER PART START ======-->
<section class="header_area">
  <div class="navbar-area bg-white">
    <div class="container relative">
      <div class="row items-center">
        <div class="w-full">
          <nav
            class="flex items-center justify-between py-4 navbar navbar-expand-lg"
          >
            <a class="navbar-brand mr-5" href="index.html">
              <img src="assets/images/logo.svg" alt="Logo" />
            </a>
            <button
              class="block navbar-toggler focus:outline-none lg:hidden"
              type="button"
              data-toggle="collapse"
              data-target="#navbarOne"
              aria-controls="navbarOne"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="absolute left-0 z-20 hidden w-full px-5 py-3 duration-300 bg-white lg:w-auto collapse navbar-collapse lg:block top-full mt-full lg:static lg:bg-transparent shadow lg:shadow-none"
              id="navbarOne"
            >
              <ul
                id="nav"
                class="items-center content-start mr-auto lg:justify-end navbar-nav lg:flex"
              >
                <li class="nav-item ml-5 lg:ml-11">
                  <a class="page-scroll active" href="#home">
                    Home
                  </a>
                </li>

                <li class="nav-item ml-5 lg:ml-11">
                  <a class="page-scroll" href="#services">
                    Services
                  </a>
                </li>

                 <li class="nav-item ml-5 lg:ml-11">
                  <a class="page-scroll" href="#testimonials">
                    Testimonials
                  </a>
                </li>

                <li class="nav-item ml-5 lg:ml-11">
                  <a class="page-scroll" href="#contact">
                    Contact
                  </a>
                </li>
                <li class="nav-item ml-5 lg:ml-11">
                  <a class="page-scroll" href="#map">
                    Localisation
                  </a>
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- header navbar -->
  <div
    id="home"
    class="header_hero bg-gray relative z-10 overflow-hidden lg:flex items-center"
  >
    <div class="hero_shape shape_1">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_2">
      <img src="assets/images/shape/shape-2.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_3">
      <img src="assets/images/shape/shape-3.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_4">
      <img src="assets/images/shape/shape-4.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_6">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_7">
      <img src="assets/images/shape/shape-4.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_9">
      <img src="assets/images/shape/shape-2.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_10">
      <img src="assets/images/shape/shape-4.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_11">
      <img src="assets/images/shape/shape-1.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="hero_shape shape_12">
      <img src="assets/images/shape/shape-2.svg" alt="shape" />
    </div>
    <!-- hero shape -->
    <div class="container">
      <div class="row">
        <div class="w-full lg:w-1/2">
          <div class="header_hero_content pt-150 lg:pt-0">
            <h2
              class="hero_title text-2xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-extrabold"
            >
              RACHÈTE AUTOS ET MOTOS AUX MEILLEURS PRIX
              <span class="text-theme-color">
                Enlèvement d'épaves gratuit
              </span>
            </h2>
            <p class="mt-8 lg:mr-8">
              Notre casse auto rachète tous véhicules -10 ans mêmes accidenté.ou en panne.enlevement épave gratuit.
            </p>
            <div class="hero_btn mt-10">
              <a class="main-btn" href="#contact">
                Contacter Nous
              </a>
            </div>
          </div>
          <!-- header hero content -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <div class="header_shape hidden lg:block"></div>
    <div class="header_image flex items-center">
      <div class="image 2xl:pl-25">
        <img src="assets/images/header-image.svg" alt="Header Image" />
      </div>
    </div>
    <!-- header image -->
  </div>
  <!-- header hero -->
</section>










<!--====== SERVICES PART START ======-->
<section id="services" class="services_area pt-120 pb-120">
  <div class="container">
    <div class="row justify-center">
      <div class="w-full lg:w-1/2">
        <div class="section_title text-center pb-6">
          <h5 class="sub_title">
            Ce que nous faisons
          </h5>
          <h4 class="main_title">
            Nos Services
          </h4>
        </div>
        <!-- section title -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-center">
      <div class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
        <div class="single_services text-center mt-8 mx-3">
          <div class="services_icon">
            <i class="lni lni-layout">
              <FaIcon @icon="car"/>
            </i>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="94"
              height="92"
              viewBox="0 0 94 92"
            >
              <path
                class="services_shape"
                id="Polygon_12"
                data-name="Polygon 12"
                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z"
              ></path>
            </svg>
          </div>
          <div class="services_content mt-5 xl:mt-10">
            <h3
              class="services_title text-black font-semibold text-xl md:text-2xl lg:text-xl xl:text-3xl"
            >
              Destruction de véhicules
            </h3>
            <p class="mt-4">
              La destruction de véhicules figure également parmi nos prestations.
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
        <div class="single_services text-center mt-8 mx-3">
          <div class="services_icon">
            <i class="lni lni-bullhorn">
              <FaIcon @icon="puzzle-piece"/>
            </i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="94"
              height="92"
              viewBox="0 0 94 92"
            >
              <path
                class="services_shape"
                id="Polygon_12"
                data-name="Polygon 12"
                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z"
              ></path>
            </svg>
          </div>
          <div class="services_content mt-5 xl:mt-10">
            <h3
              class="services_title text-black font-semibold text-xl md:text-2xl lg:text-xl xl:text-3xl"
            >
              Pièces détachées d'occasion
            </h3>
            <p class="mt-4">
              Découvrez un stock permanent de pièces détachées d'automobiles d'occasion de toutes marques.
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>








 <div class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
        <div class="single_services text-center mt-8 mx-3">
          <div class="services_icon">
            <i class="lni lni-bullhorn">
              <FaIcon @icon="car-crash"/>
            </i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="94"
              height="92"
              viewBox="0 0 94 92"
            >
              <path
                class="services_shape"
                id="Polygon_12"
                data-name="Polygon 12"
                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z"
              ></path>
            </svg>
          </div>
          <div class="services_content mt-5 xl:mt-10">
            <h3
              class="services_title text-black font-semibold text-xl md:text-2xl lg:text-xl xl:text-3xl"
            >
              Achat automobiles accidentée
            </h3>
            <p class="mt-4">
              notre casse automobile vous propose de racheter au meilleur prix les véhicules anciens accidentés ou les épaves.
            </p>
          </div>

        </div>
        <!-- single services -->
      </div>







    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>






<!--====== SERVICES PART ENDS ======-->
<!--====== ABOUT PART START ======-->
<section id="why" class="about_area pt-120 relative">
  <div class="about_image flex items-center justify-end">
    <div class="image lg:pr-13">
      <img src="assets/images/service-image.svg" alt="services" />
    </div>
  </div>
  <!-- about image -->
  <div class="container">
    <div class="row justify-end">
      <div class="w-full lg:w-1/2">
        <div class="about_content mx-4 pt-4 lg:pt-15 lg:pb-15">
          <div class="section_title pb-9">
            <h5 class="sub_title">
              Pour quoi nous choisir?
            </h5>
            <h4 class="main_title">
              Nous sommes les meilleurs dans notre domaine.
            </h4>
          </div>
          <!-- section title -->
          {{!-- <p>
            Vous souhaitez revendre votre véhicule qui est hors d'usage ?
          </p> --}}
          <ul class="about_list flex  flex-wrap pt-3">

           <AboutListItem> achat d'épave </AboutListItem>
           <AboutListItem> casse pour utilitaires </AboutListItem>
           <AboutListItem>  enlèvement d'épave </AboutListItem>
           <AboutListItem> pièce détachée d'occasion pour automobile </AboutListItem>
<AboutListItem>récupération de voiture</AboutListItem>
<AboutListItem>véhicule accidenté</AboutListItem>
<AboutListItem>certificat de destruction de véhicule</AboutListItem>
<AboutListItem>enlèvement d'épave gratuit</AboutListItem>
<AboutListItem>véhicule hors d'usage</AboutListItem>
<AboutListItem>vente de pièce détachée pour auto</AboutListItem>
<AboutListItem>achat de véhicule accidenté</AboutListItem>
<AboutListItem>démantèlement d'épave</AboutListItem>
<AboutListItem>épave d'auto</AboutListItem>
<AboutListItem>pièce de rechange pour automobile</AboutListItem>
<AboutListItem>enlèvement d'automobile</AboutListItem>
<AboutListItem>recyclage d'automobile</AboutListItem>
<AboutListItem>démolition d'utilitaires</AboutListItem>
<AboutListItem>pièce détachée pour 4x4</AboutListItem>
<AboutListItem>voiture accidentée</AboutListItem>

          </ul>
        </div>
        <!-- about content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== ABOUT PART ENDS ======-->









<!-- ====== Testimonials Start ====== -->
    <section id="testimonials" class="pt-20 md:pt-[120px]">
      <div class="container px-4">
        <div class="flex flex-wrap">
          <div class="w-full mx-4">
            <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
              <span class="font-semibold text-lg text-primary mb-2 block">
                Testimonials
              </span>
              <h2
                class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[42px]
                  text-dark
                  mb-4
                "
              >
                Ce que dit nos clients
              </h2>
              {{!-- <p
                class="
                  text-lg
                  sm:text-xl
                  leading-relaxed
                  sm:leading-relaxed
                  text-body-color
                "
              >
                There are many variations of passages of Lorem Ipsum available
                but the majority have suffered alteration in some form.
              </p> --}}
            </div>
          </div>
        </div>

        <div class="flex flex-wrap">



          <TestimonialsItem @user="Eric Michiels">
            Accueil très sympathique et souriant la blague s'invite facilement 👍mais un excellent niveau professionnel on comprend qu'ils savent de quoi ils parlent et qu'ils sont prêts à vous satisfaire même si ils doivent appeler la concurrence pour une réponse plus rapide et efficace....
N'hésitez pas, nous avons tous besoin d'une pièce un jour ou l'autre et pourquoi acheter neuf alors que ces pièces recycler sont des originales 👍👍.
          </TestimonialsItem>


          <TestimonialsItem @user="Sakina Amelsi">
            Un professionnalisme incroyable il faudrai plus de personne comme ça appelez ce matin en urgence
A 14h ma voiture été prise très accueillant et compréhensif merci encore .
          </TestimonialsItem>


          <TestimonialsItem @user="Jérémy Tovin">
            C’est une casse a recommandé elle est au top. Les prix ainsi que l’accueil et les conseils.
          </TestimonialsItem>


        </div>
      </div>
    </section>
    <!-- ====== Testimonials End ====== -->




{{!--
<Map></Map> --}}






<!--====== BLOG PART ENDS ======-->
<Contact/>

<Map/>


<Footer/>
<!--====== FOOTER PART ENDS ======-->
<!--====== BACK TOP TOP PART START ======-->
<a href="#" class="scroll-top">
  <FaIcon @icon="chevron-up" @prefix="fas" class="lni lni-chevron-up"></FaIcon>
</a>
<!--====== BACK TOP TOP PART ENDS ======-->
<!--====== PART START ======-->
<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->
<!--====== PART ENDS ======-->




