<div class="flex h-screen bg-gray-900">
  <aside
        class="z-20 w-64 overflow-y-auto bg-gray-800 md:block flex-shrink-0"
      >
        <div class="py-4 text-gray-400">

            <LinkToExternal @route="index"
            class="ml-6 text-lg font-bold text-gray-400"
            >Talik</LinkToExternal>


          </div>

          </aside>
 <main class="h-full overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-200"
            >
              Dashboard
            </h2>
          </div>
 </main>
{{outlet}}

</div>